@function contrast-color($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $brightness: ($r * 299 + $g * 587 + $b * 114) / 1000;
  @return if($brightness >= 255/2, $black, $white);
}
